<template>
  <div>
    <div>
      <el-form ref="formRef" :model="form" label-width="100px">
        <el-row :gutter="12">
          <el-col :span="7">
            <el-form-item label="名字" prop="name">
              <el-input :type="type" v-model="form.name"/>
            </el-form-item>
          </el-col>
          <el-col :span="7">
            <el-form-item label="年龄" prop="age">
              <el-input type="text" v-model="form.age"/>
            </el-form-item>
          </el-col>
          <el-col :span="7">
            <el-form-item label="性别" prop="gender">
              <el-input type="text" v-model="form.gender"/>
            </el-form-item>
          </el-col>
          <el-col :span="2">
            <el-form-item label="开关:">
              <el-switch
                  v-model="value"
                  active-color="#13ce66"
                  inactive-color="#ff4949">
              </el-switch>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex" justify="end">
          <el-col :span="1">
            <el-button @click="query">查询</el-button>
          </el-col>
          <el-col :span="7">
            <el-button @click="reset('formRef')">重置</el-button>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <div>
      <!--          :header-cell-style="{background:'#eee',color:'#a6a6a8'}"-->
      <el-table
          :data="tableData"
          style="width: 100%"
          :border="true"
          stripe
          ref="tableRef"
          @selection-change="selectRow"
          clearSelection
          row-key="id">
        <el-table-column
            type="selection"
            width="55"
            :reserve-selection="true">
        </el-table-column>
        <el-table-column
            prop="date"
            label="日期"
            sortable
            width="180">
        </el-table-column>
        <el-table-column
            prop="name"
            label="姓名"
            sortable
            width="180">
        </el-table-column>
        <el-table-column
            prop="address"
            sortable
            label="地址">
        </el-table-column>
        <el-table-column label="操作" :width="200">
          <template slot-scope="scope">
            <el-button
                size="mini"
                @click="handleEdit(scope.$index, scope.row)">编辑
            </el-button>
            <el-button
                size="mini"
                type="danger"
                @click="handleDelete(scope.$index, scope.row)">删除
            </el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import mockTableData from '../mock/tableData'
export default {
  name: 'FirstPage',
  data() {
    return {
      value: false,
      type: 'text',
      form: {
        name: '',
        age: '',
        gender: '',
      },
      tableData: []
    }
  },
  methods: {
    handleEdit(index, row) {
      console.log(index, row)
    },
    handleDelete(index, row) {
      console.log(row)
      this.tableData.splice(index, 1);
    },
    query() {
      this.tableData = [...mockTableData]
      const data = [...this.tableData]
      data.forEach((row) => {
        console.log(row)
        this.$refs.tableRef.toggleRowSelection(row, true);
      });
    },
    reset(formRef) {
      console.log(this)
      this.$refs[formRef].resetFields()
    },
    selectRow(s, a) {
      console.log(s)
      console.log(a)
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">

</style>