<template>
  <div class="layout">
    <el-container class="panel">
      <el-header>
        <MyHeader/>
      </el-header>
      <el-container>
        <el-aside width="20%">
          <MyMenu/>
        </el-aside>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import MyMenu from '../components/MyMenu'
import MyHeader from '../components/MyHeader'
export default {
  name: 'Home',
  components: {
    MyMenu,
    MyHeader
  }

}
</script>

<style scoped rel="stylesheet/scss" lang="scss">
.layout {
  height: 100vh;
}
.panel {
  height: 100%;
}
</style>