<template>
<div>
  <el-form ref="formRef" :model="form" label-width="100px">
    <el-row :gutter="12">
      <el-col :span="7">
        <el-form-item label="申请人" prop="name">
          <el-input type="text" v-model="form.name"/>
        </el-form-item>
      </el-col>
      <el-col :span="7">
        <el-form-item label="申请单号" prop="applyNo">
          <el-input type="text" v-model="form.applyNo"/>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="12">
      <el-col :span="7">
        <el-form-item label="产品名称" prop="productName">
          <el-input type="text" v-model="form.productName"/>
        </el-form-item>
      </el-col>
      <el-col :span="7">
      <el-form-item label="产品代码" prop="productCode">
        <el-input type="text" v-model="form.productCode"/>
      </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="12">
      <el-col :span="7">
        <el-form-item label="产品类别" prop="productType">
          <el-input type="text" v-model="form.productType"/>
        </el-form-item>
      </el-col>
      <el-col :span="7">
        <el-form-item label="账户名称" prop="accountName">
          <el-input type="text" v-model="form.accountName"/>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="12">
      <el-col :span="7">
        <el-form-item label="托管户" prop="fiduciaryNo">
          <el-input type="text" v-model="form.fiduciaryNo"/>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="12">
      <el-col :span="7">
        <el-form-item label="备注" prop="remark">
          <el-input type="textarea" v-model="form.remark"/>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
</div>
</template>

<script>
export default {
  name: 'AccountForm',
  data() {
    return {
      form: {
        name: '',
        applyNo: '',
        productName: '',
        productCode: '',
        productType: '',
        accountName: '',
        fiduciaryNo: '',
        remark: ''
      }
    }
  }
}
</script>

<style scoped>

</style>