<template>
  <div class="login-page">
    <div v-if="loginStatus" class="mask"
    >
      <div class="text">页面转向中...</div>
    </div
    >
    <div class="login-content">
      <div class="logo_login">
        <div class="logo_login_chs">太保智能运管平台</div>
        <div class="logo_login_eng">it asset management platform</div>
      </div>
      <div class="from-wrapper">
        <div class="user_pass">
          <svg-icon class="login_iptimg" icon-class="user-sold"></svg-icon>
          <el-input
              v-model.trim="userInfo.username"
              class="user-name"
              placeholder="登录账号"
          >
          </el-input>
        </div>
        <div class="user_pass">
          <svg-icon class="login_iptimg" icon-class="password-sold"></svg-icon>
          <el-input
              v-model="userInfo.password"
              class="user-pwd"
              placeholder="密码"
              :type="!eyeFlag ? 'password' : 'text'"
              @keyup.enter.native="login"
          >
          </el-input>
        </div>

        <span id="tip" class="tishi"></span>
        <!-- <div class="uniformIdentity">
          <a href="https://i.chinaamc.com/cas/login">统一认证登录</a>
        </div> -->
        <div class="rememberInfo">
          <el-checkbox v-model="remeName">记住账号</el-checkbox>
          <el-checkbox v-model="remePwd">记住密码</el-checkbox>
        </div>
        <el-button class="login-button" @click="login">登录</el-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data() {
    return {
      userInfo: {
        username: '',
        password: '',
      }
    }
  },
  methods: {
    login() {
      this.$router.replace('/home')
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
.login-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../assets/images/login_background.jpg') no-repeat;
  background-size: cover;

  .mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 99999;

    .text {
      margin-left: 50px;
      padding-top: 30px;
    }
  }

  .logo_left {
    position: absolute;
    top: 80px;
    left: 80px;
    width: 275px;
  }

  .login-wrapper {
    position: relative;
    width: 1600px;
    min-width: 960px;
    height: 100%;
    box-shadow: 0 0 35px -20px;
  }

  .login-bg {
    position: relative;
    width: 936px;
    height: 100%;
    font-size: 0;

    .bg {
      width: 100%;
      height: 100%;
    }
  }

  .login-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;

    .logo_login {
      // width: 320px;
      margin-top: 16.6vh;
      margin-bottom: 20.7vh;

      .logo_login_chs {
        // font-size: ;
        font-weight: bold;
        font-size: 48px;
        font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
        color: #333333;
      }

      .logo_login_eng {
        font-size: 18px;
        font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
        color: #666666;
      }
    }

    .from-wrapper {
      .rememberInfo {
        width: 352px;
        margin: 0 auto;

        .el-checkbox:nth-child(1) {
          float: left;
        }

        .el-checkbox:last-child {
          float: right;
        }

        &::after {
          display: block;
          content: '';
          clear: both;
        }
      }

      .uniformIdentity {
        width: 352px;
        margin: 0 auto;
        text-align: right;
        margin-bottom: 10px;

        a {
          color: rgba(47, 106, 255, 1);
          font-size: 14px;
        }
      }

      .login-button {
        width: 360px;
        height: 50px;
        margin-top: 3vh;
        font-size: 18px;
        color: #fff;
        background: #2a76cd;
        border: none;
        border-radius: 25px;

        &:hover {
          border-color: #2a90cd;
          background-color: #2a90cd;
        }

        &:active {
          border-color: #2a90cd;
          background-color: #2a90cd;
        }
      }

      .el-input__inner {
        width: 360px;
        height: 50px;
        padding-left: 54px;
        font-size: 18px;
        border: 1px solid #b6b6b6;
        border-radius: 25px;

        &:focus {
          border-color: #313236;
        }
      }

      .svg-icon {
        width: 20px;
        height: 20px;
        color: #2a76cd;
        vertical-align: -2.4em;
      }

      .el-input__suffix {
        right: 20px;
      }

      .tishi {
        color: #f50808;
      }
    }

    .user_pass {
      width: 360px;
      height: 50px;
      margin: 0 auto;
      position: relative;
      margin-bottom: 2vh;

      .login_iptimg {
        position: absolute;
        top: 14px;
        left: 24px;
        z-index: 1;
      }
    }
  }
}
</style>
