<template>
  <div>
    <el-menu :default-openeds="['1']" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
             :collapse="isCollapse">
      <el-button @click="click" class="el-icon-box"  type="text"></el-button>
      <el-submenu v-for="m in menu" :index="m.index" :key="m.index">

        <template slot="title">
          <i :class="m.icon"></i>
          <span slot="title">{{ m.name }}</span>
        </template>
        <el-menu-item v-for="c in m.child" :index="c.index" :key="c.index">
          <i :class="c.icon"></i>
          <span @click="choosePage">{{ c.name }}</span>
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data() {
    return {
      isCollapse: false,
      menu: [
        {
          index: '1',
          name: '父菜单1',
          icon: 'el-icon-menu',
          child: [
            {
              index: '1-1',
              name: '子菜单1',
              icon: 'el-icon-s-promotion'
            },
            {
              index: '1-2',
              name: '子菜单2',
              icon: 'el-icon-setting'
            }
          ]
        },
        {
          index: '2',
          name: '父菜单2',
          icon: 'el-icon-menu',
          child: [
            {
              index: '2-1',
              name: '子菜单1',
              icon: 'el-icon-s-promotion'
            },
            {
              index: '2-2',
              name: '子菜单2',
              icon: 'el-icon-setting'
            }
          ]
        }
      ]
    }
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    },
    click() {
      this.isCollapse = !this.isCollapse
    },
    choosePage() {
      console.log(12132)
      this.$router.push('/helloWorld')
    }
  }
}
</script>

<style scoped>
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 300px;
  min-height: 400px;
}
</style>